<!DOCTYPE HTML5>
<html>
<head>
    <title>New Baby Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="NewBabyProfile.css"
</head>
<body>
    <style>
        body {
            background-image: url(https://cdn.pixabay.com/photo/2016/04/01/09/42/baby-1299514_1280.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
    <p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
    <div id="Header" class="container">
        <div class="row justify-content-md-center">
            <h1 style="color: White; background-color: orange; border: 10px solid orange; text-align: center" ; class="rounded-pill">
                Baby's Info
            </h1>
        </div>
    </div>
    <div id="Information Input" class="container">
        <div class="row justify-content-end">
            <input class="form-control form-control-lg" type="text" placeholder="Enter Name">
            <p>
                <br />
            </p>
            <input class="form-control form-control-lg" type="text" placeholder="Birthdate : MM/DD/YYY">
            <p>
                <br />
            </p>
            <input class="form-control form-control-lg" type="text" placeholder="Gender: Male / Female / Other">
        </div>
    </div>
    <div id="Submit button" class="container">
        <div class="row justify-content-end">

            <a class="btn btn-primary " href="https://localhost:44327/home/Calendar" role="button"> Submit</a>
        </div>
    </div>
    <p>
        <br />
        <br />
        <br />
        <br />
    </p>
    <div id="ReturnButton" class="container">
        <div class="row justify-content-md-center">

            <a class="btn btn-primary btn-lg " href="https://localhost:44327/Home/Homepage" role="button"> Return to Log in page</a>
        </div>
    </div>
</body>
</html>

